<div class="swiper-slide" data-history="{{slug}}">
    <article class="{{post_class}} container article-container" data-id="{{comment_id}}">
        <div class="row">
            <div class="col-md-12 post-cover-container">
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM Do, YYYY"}}</time>
                <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
                    <div class="pagination-number"></div>
                    <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
                    <div class="author-name text-center">
                        {{authors}}
                    </div>
                    {{#if @labs.publicAPI}}
                        <a href="#" class="read-later" data-id="{{id}}"></a>
                    {{/if}}
                    {{#if feature_image}}
                    <div class="cloned-content">
                        <div class="img-holder" style="background-image: url({{img_url feature_image}})"></div>
                        <div class="pagination-number"></div>
                        <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</span>
                        <span class="author-name text-center">
                            {{authors}}
                        </span>
                        {{#if @labs.publicAPI}}
                            <a href="#" class="read-later" data-id="{{id}}"></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                <section class="post-content">
                    <div class="reading-time d-none">{{reading_time}}</div>
                    <div class="editor-content">{{content}}</div>
                    <div class="share-on">
                        <p>{{t "Share on:"}}</p>
                        <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" title="{{t "Share on Facebook"}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a class="share-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" title="{{t "Share on Twitter"}}"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}" title="{{t "Share on Google+"}}"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                        <a href="https://www.reddit.com/submit?url={{url absolute="true"}}%2F&title={{encode title}}" title="{{t "Share on Reddit"}}"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a>
                        <a href="mailto:?subject={{encode title}}&amp;body={{url absolute="true"}}" title="{{t "Share by Email"}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                    <div class="donate">
                        <p>If you like my articles, would you like to<br>buy me a cup of coffee (donate me)?<br>It's just around 3 bucks per cup.</p>
                        <a href="https://www.buymeacoffee.com/andrewattw" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a>
                    </div>
                </section>
                {{#if tags}}
                    <ul class="tags">
                    {{#foreach tags}}
                        <li>
                            <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                        </li>  
                    {{/foreach}}
                    </ul>
                {{/if}}
                {{^is "author"}}
                    {{#if authors}}
                        {{#foreach authors}}
                            <section class="author {{#if profile_image}}has-image{{/if}}">
                                {{#if profile_image}}
                                <figure class="author-image">
                                    <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
                                </figure>
                                {{/if}}

                                <div class="author-content">
                                    <h3>
                                        <a href="{{url}}">{{name}}</a>
                                    </h3>

                                    {{#if bio}}
                                        <p>{{bio}}</p>
                                    {{else}}
                                        <p>{{{t "Read <a href='{url}'>more posts</a> by this author" url=(url)}}}.</p>
                                    {{/if}}

                                    <div class="author-meta">
                                        <span class="social">
                                            {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>{{/if}}
                                            {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>{{/if}}
                                        </span>
                                        {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                                        {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
                                    </div>
                                </div>
                            </section>
                        {{/foreach}}
                    {{/if}}
                {{/is}}
                <div class="fb-comments" data-href="{{url}}" data-width="100%" data-numposts="5"></div>
            </div>
        </div>
    </article>
</div>