<article class="post {{#if featured}}featured{{/if}} container article-container" data-id="{{slug}}" data-date="{{date}}">
    <div class="row">
        <div class="col-md-12 post-cover-container">
            <time class="post-date" datetime="{{date}}">{{date}}</time>
            <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
                <div class="pagination-number"></div>
                <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2"><a href="{{slug}}">{{title}}</a></h1>
                <div class="author-name text-center"><a href="{{author.url}}">{{author.name}}</a></div>
                <a href="#" class="read-later" data-id="{{slug}}"></a>
                {{#if feature_image}}
                <div class="cloned-content">
                    <div class="img-holder" style="background-image: url({{feature_image}})"></div>
                    <div class="pagination-number"></div>
                    <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2"><a href="{{slug}}">{{title}}</a></span>
                    <span class="author-name text-center"><a href="{{author.url}}">{{author.name}}</a></span>
                    <a href="#" class="read-later" data-id="{{slug}}"></a>
                </div>
                {{/if}}
                {{#if featured}}
                    <a href="{{slug}}" class="over"></a>
                {{else}}
                    <a href="/tag/{{tag}}/" class="over"></a>
                {{/if}}
            </div>
        </div>
    </div>
</article>