    <div class="backdrop"></div>

    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="row">
                        {{#if tags}}
                            <div class="col-md-6">
                                <h3>Tags</h3>
                                <ul class="tags">
                                    {{#tags}}
                                        <li>
                                            <a href="/tag/{{url}}">{{name}}</a>
                                        </li>
                                    {{/tags}}
                                </ul>
                            </div>
                        {{/if}}
                        {{!-- {{#if @labs.subscribers}}
                        <div class="col-md-6">
                            <h3>{{t "Newsletter"}}</h3>
                            {{subscribe_form
                                form_class="gh-signin"
                                input_class="gh-input"
                                button_class="btn"
                                placeholder=(t "Your email address")
                            }}
                        </div>
                        {{/if}} --}}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">Copyright &copy; 2018~, <a href="{{blog.url}}">{{blog.title}}</a>. All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>