 {{!-- Document Settings --}}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
<title>{{title}}</title>

{{!-- Mobile Meta --}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Google Fonts embed code --}}
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400%7CRoboto:400,700" rel="stylesheet"> {{!-- Styles'n'Scripts
--}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{{asset " css/libraries.css "}}" />
<link rel="stylesheet" type="text/css" href="{{asset " css/style.css "}}" />