<div class="swiper-slide" data-history="index">
    <article class="post container article-container" data-id="index">
        <div class="row">
            <div class="col-md-12 post-cover-container">
                <time class="post-date" datetime="2018-07-27">2018-07-27</time>
                <div class="post-cover post-meta ">
                    <div class="pagination-number"></div>
                    <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">Home</h1>
                    <div class="author-name text-center">
                        
                    </div>
                    <a href="#" class="read-later" data-id="index"></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                <section class="post-content">
                    <div class="reading-time d-none">&lt;1 min.</div>
                    <div class="editor-content">Welcome to TTiwA's testing/demo site!</div>
                    <div class="share-on">
                        <p>Share on:</p>
                        <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=ttiwa.com/index" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"
                            title="Share on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a class="share-twitter" href="https://twitter.com/share?text=Home&amp;url=ttiwa.com/index" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"
                            title="Share on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/share?url=ttiwa.com/index" title="Share on Google+"><i class="fab fa-google-plus-g"
                                aria-hidden="true"></i></a>
                        <a href="https://www.reddit.com/submit?url=ttiwa.com/index%2F&title=Home" title="Share on Reddit"><i
                                class="fab fa-reddit-alien" aria-hidden="true"></i></a>
                        <a href="mailto:?subject=Home&amp;body=ttiwa.com/index" title="Share by Email"><i class="fa fa-envelope"
                                aria-hidden="true"></i></a>
                    </div>
                    <div class="donate">
                        <p>If you like my articles, would you like to<br>buy me a cup of coffee (donate me)?<br>It's just
                            around 3 bucks per cup.</p>
                        <a href="https://www.buymeacoffee.com/andrewattw" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png"
                                alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;"></a>
                    </div>
                </section>
                <ul class="tags">
                    <li>
                        <a href="/tag/welcome" title="Welcome" class="tag">Welcome</a>
                    </li>
                </ul>
                  
                <section class="author ">

                    <div class="author-content">
                        <h3>
                            <a href="/author/andrew">Andrew</a>
                        </h3>

                        <p>I&#x27;m Andrew from ttiwa.com.</p>
                        <p>Read <a href='/author/andrew'>more posts</a> by this author.</p>

                        <div class="author-meta">
                            <span class="social">
                                <a href="" class="twitter" title="@andrew_at_tw" target="_blank"><i
                                        class="fab fa-twitter" aria-hidden="true"></i></a> <a href="https://www.facebook.com/andrewyg_18"
                                    class="facebook" title="andrewyg_18" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                            </span>
                            <span class="author-link"><a href="https://ttiwa.com" target="_blank" rel="noopener noreferrer"><i
                                        class="fa fa-link" aria-hidden="true"></i> https://ttiwa.com</a></span> <span
                                class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Taiwan</span>
                        </div>
                    </div>
                </section>
                 
                <div class="fb-comments" data-href="" data-width="100%" data-numposts="5"></div>
            </div>
        </div>
    </article>
    <div style="display:none;">
        <pre><code id="json-data">{"domain":"ttiwa.com","slug":"index","date":"2018-07-27","title":"Home","authors":[{"url":"/author/andrew","name":"Andrew","bio":"I'm Andrew from ttiwa.com.","twitter":"@andrew_at_tw","facebook":"andrewyg_18","website":"https://ttiwa.com","location":"Taiwan"}],"reading_time":"<1 min.","content":"Welcome to TTiwA's testing/demo site!","tags":[{"url":"/tag/welcome","name":"Welcome"}],"lang":"en"}</code></pre>
    </div>
</div>