{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#author}}
    <section class="author {{#if profile_image}}has-image{{/if}}" data-author="{{slug}}">
        {{#if profile_image}}
        <figure class="author-image">
            <a class="img" href="{{slug}}" title="{{name}}"><img src="{{profile_image}}" alt="{{name}}"></a>
        </figure>
        {{/if}}

        <div class="author-content">
            <h3>
                <a href="/author/{{slug}}">{{name}}</a>
            </h3>

            <p>{{bio}}</p>
            <p>Read <a href='/author/{{slug}}'>more posts</a> by this author.</p>

            <div class="author-meta">
                <span class="social">
                    {{#if twitter}}<a href="https://twitter.com/{{twitter}}" class="twitter" title="@{{twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>{{/if}}
                    {{#if facebook}}<a href="https://www.facebook.com/{{facebook}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>{{/if}}
                </span>
                {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
            </div>
        </div>
    </section>
{{/author}}

{{!-- The main content area --}}
<main id="content" role="main">
    <div class="loop">
        <div class="swiper-container" dir="rtl">
            <div class="next"><a href="#" title="Next Post"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.494 31.494" width="512" height="512"><path d="M10.273 5.009c.444-.444 1.143-.444 1.587 0 .429.429.429 1.143 0 1.571l-8.047 8.047h26.554c.619 0 1.127.492 1.127 1.111s-.508 1.127-1.127 1.127H3.813l8.047 8.032c.429.444.429 1.159 0 1.587-.444.444-1.143.444-1.587 0L.321 16.532c-.429-.429-.429-1.143 0-1.571l9.952-9.952z" fill="#FFF"/></svg></a></div>
            <div class="prev"><a href="#" title="Previous Post"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.49 31.49" width="512" height="512"><path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z" fill="#FFF"/></svg></a></div>
            <div class="swiper-wrapper">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
        </div>
    </div>
</main>
