<!DOCTYPE html>
<html lang="{{lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
    <title>{{title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Google Fonts embed code --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400%7CRoboto:400,700" rel="stylesheet"> {{!-- Styles'n'Scripts
    --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/libraries.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/toolbar.css" />

</head>

<body class="nav-closed">
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.0&appId=236717510294360&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="main-container">

        {{{header}}} {{!-- Everything inside the #post tags pulls data from the post --}}
        <main id="content" role="main">
            <div class="loop">
                <div class="swiper-container">
                    <div class="next"><a href="#" title="下一篇文章"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.49 31.49"
                                width="512" height="512">
                                <path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z"
                                    fill="#FFF" /></svg></a></div>
                    <div class="prev"><a href="#" title="上一篇文章"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.494 31.494"
                                width="512" height="512">
                                <path d="M10.273 5.009c.444-.444 1.143-.444 1.587 0 .429.429.429 1.143 0 1.571l-8.047 8.047h26.554c.619 0 1.127.492 1.127 1.111s-.508 1.127-1.127 1.127H3.813l8.047 8.032c.429.444.429 1.159 0 1.587-.444.444-1.143.444-1.587 0L.321 16.532c-.429-.429-.429-1.143 0-1.571l9.952-9.952z"
                                    fill="#FFF" /></svg></a></div>
                    <div class="swiper-wrapper">

                        {{{body}}}

                    </div>
                </div>
            </div>
        </main>

        {{{footer}}}

    </div>

    {{!-- 3rd party scripts --}}
    <script type="text/javascript" src="/assets/js/libraries.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

    {{!-- <script>
        if(window.location.hash == "#edit") {
            $("body").append('<script type="text/javascript" src="/assets/js/edit.js"><\/script>');
        }
        $(window).on('hashchange', function() {
            if(window.location.hash == "#edit") {
                $("body").append('<script type="text/javascript" src="/assets/js/edit.js"><\/script>');
            }
        });
    </script> --}}
    
    <!--toolbox caller-->
    <div id="container-floating">
        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
            <div class="plus" data-toggle="modal" data-target="#toolbox">
                <i class="fas fa-wrench fa-fw"></i>
            </div>
        </div>
    </div>

    <!--toolbox-->
    <div class="modal fade" id="toolbox" tabindex="-1" role="dialog" aria-labelledby="toolboxTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="toolboxLongTitle">工具箱</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr id="disable-swipe">
                                <th scope="row"><w2c>停用</w2c>滑動切換文章</th>
                                <td>將滑動（含觸控及滑鼠拖曳）以切換文章之功能<w2c>停用</w2c></td>
                            </tr>
                            <tr id="disable-keyboard">
                                <th scope="row"><w2c>停用</w2c>方向鍵切換文章</th>
                                <td>將用左右方向鍵以切換文章之功能<w2c>停用</w2c></td>
                            </tr>
                            <tr id="disable-touchpad">
                                <th scope="row"><w2c>停用</w2c>觸控板切換文章</th>
                                <td>將用觸控板（或滑鼠）左右滑動以切換文章之功能<w2c>停用</w2c></td>
                            </tr>
                            <tr class="loginOnly" id="edit-post">
                                <th scope="row"><w2c>編輯</w2c>文章</th>
                                <td><w2c>編輯</w2c>此文章</td>
                            </tr>
                            <tr class="loginOnly" id="create-post" data-toggle="modal" data-target="#createPost">
                                <th scope="row">新增文章</th>
                                <td>新增一篇文章</td>
                            </tr>
                            <tr class="loginOnly" id="delete-post">
                                <th scope="row">刪除文章</th>
                                <td>刪除此文章</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!--create post-->
    <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPostTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="createPostLongTitle">新增文章</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create-post-form" method="post" action="/api/v1/posts/save">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">檔名</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-lg" type="text" name="slug">
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                        <div style="display:none;">
                            <input name="title" type="text" value="標題">
                            <input name="reading_time" type="text" value="1m">
                            <input name="content" type="text" value="內容">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--spinner-->
    <div class="modal fade" id="editorLoading" tabindex="-1" role="dialog" aria-labelledby="editorLoadingTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="editorLoadingLongTitle">載入編輯器中...</h2>
                </div>
                <div class="modal-body">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>