{{!< default}}

<main id="content" class="container content-inner" role="main">
    <section class="error-content error-404 js-error-container">
        <section class="error-details">
             <section class="error-message">
                 <h1 class="error-code">{{code}}</h1>
                 <h2 class="error-description">{{message}}</h2>
             </section>
        </section>
    </section>
</main>