{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" role="main">
	<div class="container">}
		{{#if posts}}
			<div class="row">
				<div class="col-md-12">
					<h2>Featured</h2>
					{{> "loop-home"}}
				</div>
			</div>
		{{/if}}
		<div class="row sort-tags-by-recent-post">
		{{#foreach tags}}
			<div class="col-md-12 tag-single-post-container">
				<h2><a href="{{url}}">{{name}}</a></h2>
				{{#if posts}}
						{{> "loop-home"}}
				{{/if}}
			</div>
		{{/foreach}}
		</div>
	</div>
</main>