{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-box all-posts">
                    {{#if posts}}
                        {{#foreach posts}}
                            <li>
                                <time>{{date}}/time>
                                <a href="#" class="read-later" data-id="{{slug}}"></a>
                                <a href="{{slug}}">{{title}}</a>
                            </li>
                        {{/foreach}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</main>
