<div class="swiper-slide" data-history="{{slug}}">
    <article class="post container article-container" data-id="{{slug}}">
        <div class="row">
            <div class="col-md-12 post-cover-container">
                <time class="post-date" datetime="{{date}}">{{date}}</time>
                <div class="post-cover post-meta {{#if cover}}has-image{{/if}}">
                    <div class="pagination-number"></div>
                    <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
                    <div class="author-name text-center">
                        {{author}}
                    </div>
                    <a href="#" class="read-later" data-id="{{slug}}"></a>
                    {{#if cover}}
                    <div class="cloned-content">
                        <div class="img-holder" style="background-image: url({{cover}})"></div>
                        <div class="pagination-number"></div>
                        <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</span>
                        <span class="author-name text-center">
                            {{authors}}
                        </span>
                        <a href="#" class="read-later" data-id="{{slug}}"></a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                <section class="post-content">
                    <div class="reading-time d-none">{{reading_time}}</div>
                    <div class="editor-content">{{{content}}}</div>
                    <div class="share-on">
                        <p>分享於</p>
                        <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{domain}}/{{slug}}" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"
                            title="分享於臉書"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a class="share-twitter" href="https://twitter.com/share?text={{title}}&amp;url={{domain}}/{{slug}}" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"
                            title="分享於推特"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/share?url={{domain}}/{{slug}}" title="Share on Google+"><i class="fab fa-google-plus-g"
                                aria-hidden="true"></i></a>
                        <a href="https://www.reddit.com/submit?url={{domain}}/{{slug}}%2F&title={{title}}" title="分享於Reddit"><i
                                class="fab fa-reddit-alien" aria-hidden="true"></i></a>
                        <a href="mailto:?subject={{title}}&amp;body={{domain}}/{{slug}}" title="Share by Email"><i class="fa fa-envelope"
                                aria-hidden="true"></i></a>
                    </div>
                    {{!-- <div class="donate">
                        <p>If you like my articles, would you like to<br>buy me a cup of coffee (donate me)?<br>It's just
                            around 3 bucks per cup.</p>
                        <a href="https://www.buymeacoffee.com/andrewattw" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png"
                                alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;"></a>
                    </div> --}}
                </section>
                {{#if tags}}
                <ul class="tags">
                    {{#tags}}
                    <li>
                        <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
                    </li>
                    {{/tags}}
                </ul>
                {{/if}} {{#if authors}} {{#authors}}
                <section class="author {{#if profile_image}}has-image{{/if}}">
                    {{#if profile_image}}
                    <figure class="author-image">
                        <a class="img" href="{{url}}" title="{{name}}"><img src="{{profile_image}}" alt="{{name}}"></a>
                    </figure>
                    {{/if}}

                    <div class="author-content">
                        <h3>
                            <a href="{{url}}">{{name}}</a>
                        </h3>

                        {{#if bio}}
                        <p>{{bio}}</p>
                        {{/if}}
                        <p>閱讀此作者的<a href='{{url}}'>更多文章</a></p>

                        <div class="author-meta">
                            <span class="social">
                                {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i
                                        class="fab fa-twitter" aria-hidden="true"></i></a>{{/if}} {{#if facebook}}<a href="https://www.facebook.com/{{facebook}}"
                                    class="facebook" title="{{facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>{{/if}}
                            </span>
                            {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i
                                        class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}} {{#if location}}<span
                                class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
                        </div>
                    </div>
                </section>
                {{/authors}} {{/if}}
                <div class="fb-comments" data-href="{{url}}" data-width="100%" data-numposts="5"></div>
            </div>
        </div>
    </article>
    <div style="display:none;">
        <pre><code id="json-data">{{{data}}}</code></pre>
    </div>
</div>