{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}
<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center tag-title" data-tag="{{slug}}">
			<h1>{{name}}</h1>
		</div>
	</div>
</div>
{{/tag}}

{{!-- The main content area --}}
<main id="content" role="main">
	<div class="loop">
		<div class="swiper-container" dir="rtl">
			<div class="next"><a href="#" title="{{t "Next Post"}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.494 31.494" width="512" height="512"><path d="M10.273 5.009c.444-.444 1.143-.444 1.587 0 .429.429.429 1.143 0 1.571l-8.047 8.047h26.554c.619 0 1.127.492 1.127 1.111s-.508 1.127-1.127 1.127H3.813l8.047 8.032c.429.444.429 1.159 0 1.587-.444.444-1.143.444-1.587 0L.321 16.532c-.429-.429-.429-1.143 0-1.571l9.952-9.952z" fill="#FFF"/></svg></a></div>
			<div class="prev"><a href="#" title="{{t "Previous Post"}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.49 31.49" width="512" height="512"><path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z" fill="#FFF"/></svg></a></div>
		    <div class="swiper-wrapper">
				{{#foreach posts}}
					{{> "loop"}}
			    {{/foreach}}
			</div>
		</div>
	</div>
</main>